BACKUP_SERVER_IP="123.456.78.90"
BACKUP_SSH_PORT="22" # optional, keep if necessary
BACKUP_SSH_USER="ubuntu"
BACKUP_PRIVATE_KEY_PATH="/Users/username/.ssh/private_key"
BACKUP_PRIVATE_KEY_PASSPHRASE="passphrase" # optional, keep if necessary
BACKUP_REMOTE_PATH="/home/ubuntu/my_directory"
BACKUP_LOCAL_REPO="/path/to/local/repo"
BACKUP_PRE_CMD="sudo systemctl stop docker docker.socket" # optional, keep if necessary
BACKUP_POST_CMD="sudo systemctl start docker docker.socket" # optional, keep if necessary
BACKUP_USE_SUDO="true" # optional, keep if necessary